aws_profile        = "personal"
aws_region         = "ap-southeast-7"
project_name       = "secure-3tier"
environment        = "dev"
api_stage_name     = "dev"
notification_email = "you@example.com"
enable_cloudwatch_logs   = true
enable_cloudwatch_alarms = true